PORT=4100
CORS_ORIGIN=http://localhost:5174
TRUST_PROXY=false

AUTH0_DOMAIN=
AUTH0_AUDIENCE=

SQLDB_PROD_USER=datametrics
SQLDB_PROD_PASS=ArchieDb_12345
SQLDB_PROD_HOST=localhost
SQLDB_PROD_DIALECT=mssql
SQLDB_PROD_DATABASE=CloudMetrics
SQLDB_ENCRYPT=false
SQLDB_TRUST_CERT=true

LOG_LEVEL=info
ENABLE_SWAGGER=false

MONGOOSE_URI=
