PORT=4000
CORS_ORIGIN=http://localhost:5173
TRUST_PROXY=false

AUTH0_DOMAIN=
AUTH0_AUDIENCE=

SQLDB_PROD_USER=
SQLDB_PROD_PASS=
SQLDB_PROD_HOST=
SQLDB_PROD_DIALECT=mssql
SQLDB_PROD_DATABASE=
SQLDB_ENCRYPT=true
SQLDB_TRUST_CERT=false

LOG_LEVEL=info
ENABLE_SWAGGER=false

MONGOOSE_URI=
